USE [master]
GO
/****** Object:  Database [DbEntitiyÜrün]    Script Date: 27.01.2021 17:08:29 ******/
CREATE DATABASE [DbEntitiyÜrün]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbEntitiyÜrün', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbEntitiyÜrün.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbEntitiyÜrün_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbEntitiyÜrün_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbEntitiyÜrün].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbEntitiyÜrün]
GO
/****** Object:  Table [dbo].[Tbl_Admin]    Script Date: 27.01.2021 17:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Admin](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULLANICI] [varchar](20) NULL,
	[SIFRE] [varchar](20) NULL,
 CONSTRAINT [PK_Tbl_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Kategori]    Script Date: 27.01.2021 17:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Kategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
 CONSTRAINT [PK_Tbl_Kategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Musteri]    Script Date: 27.01.2021 17:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Musteri](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](30) NULL,
	[MUSTERISOYAD] [varchar](30) NULL,
	[SEHIR] [varchar](15) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_Tbl_Musteri] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Satis]    Script Date: 27.01.2021 17:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Satis](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_Tbl_Satis] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ürün]    Script Date: 27.01.2021 17:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ürün](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](30) NULL,
	[MARKA] [varchar](30) NULL,
	[STOK] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[DURUM] [int] NULL,
	[KATEGORİ] [int] NULL,
 CONSTRAINT [PK_Tbl_ürün] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_Satis]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Satis_Tbl_Musteri] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[Tbl_Musteri] ([MUSTERIID])
GO
ALTER TABLE [dbo].[Tbl_Satis] CHECK CONSTRAINT [FK_Tbl_Satis_Tbl_Musteri]
GO
ALTER TABLE [dbo].[Tbl_Satis]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Satis_Tbl_ürün] FOREIGN KEY([URUN])
REFERENCES [dbo].[Tbl_ürün] ([URUNID])
GO
ALTER TABLE [dbo].[Tbl_Satis] CHECK CONSTRAINT [FK_Tbl_Satis_Tbl_ürün]
GO
ALTER TABLE [dbo].[Tbl_ürün]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ürün_Tbl_Kategori] FOREIGN KEY([KATEGORİ])
REFERENCES [dbo].[Tbl_Kategori] ([ID])
GO
ALTER TABLE [dbo].[Tbl_ürün] CHECK CONSTRAINT [FK_Tbl_ürün_Tbl_Kategori]
GO
/****** Object:  StoredProcedure [dbo].[MARKAGETIR]    Script Date: 27.01.2021 17:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MARKAGETIR]
AS

select TOP 1 MARKA from Tbl_ürün group by MARKA ORDER BY COUNT (*) DESC		
GO
USE [master]
GO
